

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title{
    margin-bottom: 20px;
}

.search-city{
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
}

.content{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    position: relative;
    gap: 20px;
    background-color: rgb(107, 109, 101);
}

.box-1{
    position: absolute;
    top: 10px;
    left: 10px;
}

.box-2{
    border: 1px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}


.graus{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.box-3{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    gap: 20px;
}