.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
}

.search-city {
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
}

.search-btn {
    padding: 5px;
}

.search-btn {
    margin-left: 10px;
}


.content {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    background-color: rgb(107, 109, 101);
}

.box-1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.box-2 {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.graus {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.box-3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.min-max {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.min-max .content-media {
    margin-left: 10px;
}